<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-aleislasb/blob/main/Actividad%20Semana%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.1-Your First Program

In [ ]:
#What is in the parentheses will be executed, this is called an argument. Every statement goes into a cell.
print("Hello Python 101")

Hello Python 101
Hello
World!

In [ ]:
print("Hello\nWorld!") #The expression /n makes a space.

Hello
World!

In [ ]:
# print('Hello World!') does not execute nothing.

# 1.2-Types

In [ ]:
type("Hello World")
#The function type, finds out which type of information do we have in parentheses, in this case,text.

str

In [ ]:
type("1.1")
#The function evaluates that eventhough we have a number the symbols "" makes that information to text.

str

In [ ]:
bool(int(1))
#Conversion from integer to a boolean value.

True

In [ ]:
type(bool(int(1)))
#In this statement we ask which type of information do we have after converting it to a boolean value.

bool

# 1.3-Expressions and Varibles

In [ ]:
#A expression describe the type of operation we like to perform. 
43+60+16+41 
#On this operation the number is called operands and the math symbols are called operators.

160

In [ ]:
#// is an operator that results into a integer.
25//4

6

In [ ]:
#When updating a variable you can give a value with the sign equal.
Prueba_Phyton=15
#The symbol _ represents the start of a new world in a variable.

In [ ]:
#When updating a variable value, it is just necessary to give the new value, the other value is not important anymore.
Prueba_Phyton:10

#1.4-String Operations

In [9]:
#The variable Letters has the value "ABCDEFGHIJK", this is a string and it is represented by the symbols "" or ''. Here we are using normal characters. 
Letters="ABCDEFGHIJK"
Letters[0:4]

11

In [10]:
#If we want to check the length of the text, we write the function len.
Letters_2="ABCDEFGHIJK"
len(Letters_2)

11

In [11]:
Good="GsoAo+d"
Good[::2]
#We can slice strings, from the original text we extract every even position that we have, incluiding the first character.

'Good'

In [14]:
#We can use some functions in order to change the text, such has upper or replace, just to mention a few.
Prob="uppercase"
Prob.upper()

'UPPERCASE'

In [20]:
#We can also make spaces or tabs between the text or even represent a backslash if we want.
print("Michael Jackson \\ is the best")
print("Michael Jackson \n is the best")
print("Michael Jackson \t is the best")

Michael Jackson \ is the best
Michael Jackson
 is the best
Michael Jackson 	 is the best

In [22]:
#We can consult where can I find a couple of characters on a text, as a result we sill have the first character of this consult.
Good.find("so")

1

#Review Questions

In [23]:
#Mathematical Operations made by order.
3+2*2

7

In [24]:
#Slice from the first character to the assigned to number two.
name="Lizz"
print(name[0:2])

Li

In [25]:
#Slice every second character incluiding the character assigned to 0.
var="01234567"
print(var[::2])

0246

In [26]:
#Merges two strings. 
"1"+"2"

'12'

In [27]:
#Converts every character into uppercase.
myvar="hello"
myvar.upper()

'HELLO'