<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-aleislasb/blob/main/Actividad%20Semana%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.1-Your First Program

In [ ]:
#What is in the parentheses will be executed, this is called an argument. Every statement goes into a cell.
print("Hello Python 101")

Hello Python 101
Hello
World!

In [ ]:
print("Hello\nWorld!") #The expression /n makes a space.

Hello
World!

In [ ]:
# print('Hello World!') does not execute nothing.

# 1.2-Types

In [ ]:
type("Hello World")
#The function type, finds out which type of information do we have in parentheses, in this case,text.

str

In [ ]:
type("1.1")
#The function evaluates that eventhough we have a number the symbols "" makes that information to text.

str

In [ ]:
bool(int(1))
#Conversion from integer to a boolean value.

True

In [ ]:
type(bool(int(1)))
#In this statement we ask which type of information do we have after converting it to a boolean value.

bool

# 1.3-Expressions and Varibles

In [ ]:
#A expression describe the type of operation we like to perform. 
43+60+16+41 
#On this operation the number is called operands and the math symbols are called operators.

160

In [ ]:
#// is an operator that results into a integer.
25//4

6

In [ ]:
#When updating a variable you can give a value with the sign equal.
Prueba_Phyton=15
#The symbol _ represents the start of a new world in a variable.

In [ ]:
#When updating a variable value, it is just necessary to give the new value, the other value is not important anymore.
Prueba_Phyton:10

#1.4-String Operations

In [ ]:
#The variable Letters has the value "ABCDEFGHIJK", this is a string and it is represented by the symbols "" or ''. Here we are using normal characters. 
Letters="ABCDEFGHIJK"
Letters[0:4]

11

In [ ]:
#If we want to check the length of the text, we write the function len.
Letters_2="ABCDEFGHIJK"
len(Letters_2)

11

In [ ]:
Good="GsoAo+d"
Good[::2]
#We can slice strings, from the original text we extract every even position that we have,according to index.

'Good'

In [ ]:
#We can use some functions in order to change the text, such has upper or replace, just to mention a few.
Prob="uppercase"
Prob.upper()

'UPPERCASE'

In [ ]:
#We can also make spaces or tabs between the text or even represent a backslash if we want.
print("Michael Jackson \\ is the best")
print("Michael Jackson \n is the best")
print("Michael Jackson \t is the best")

Michael Jackson \ is the best
Michael Jackson
 is the best
Michael Jackson 	 is the best

In [ ]:
#We can consult where can I find a couple of characters on a text, as a result we sill have the first value of index of this consult.
Good.find("so")

1

#Review Questions

In [ ]:
#Mathematical Operations made by order.
3+2*2

7

In [ ]:
#Slice from the first character to the assigned to number two.
name="Lizz"
print(name[0:2])

Li

In [ ]:
#Slice every second character incluiding the character assigned to 0.
var="01234567"
print(var[::2])

0246

In [ ]:
#Merges two strings. 
"1"+"2"

'12'

In [ ]:
#Converts every character into uppercase.
myvar="hello"
myvar.upper()

'HELLO'

#2.1 Lists and Tuples

In [4]:
#With this function we can consult the last character of the tuple, since -1 index value is given to the last character of every tuple.
A=(0,1,2,3)
print(A[-1])
#Or also consulting its positive index value.
print(A[3])

3
3

In [6]:
#With this function we are consulting all the values that goes after the first character of the list.
B=["a","b","c"]
print(B[1:])

['b', 'c']

In [7]:
#We can add more values to tuples and lists, this adds more characters to the list.
Tuple1=("disco", 10,1.2)
Tuple2=Tuple1+("hard rock",10)
print(Tuple2)

('disco', 10, 1.2, 'hard rock', 10)

In [10]:
#Consults the characters from a tuple that are conformed by other tuples, just specifying which tuple I want to consult and which character of the values.
NT=(1,2,("pop", "rock"), (3,4), ("disco", (1,2)))
print(NT[2][1][2])

c

In [17]:
#The difference between extend and append is that extend make the number of character larger and append just make one addition.
L=["Michael Jackson",10.1,1982]
L.extend(["pop", 10])
print(L)

S=["Prueba",1,2,3,4]
S.append(["Prueba2",1])
print(S)

['Michael Jackson', 10.1, 1982, 'pop', 10]
['Prueba', 1, 2, 3, 4, ['Prueba2', 1]]

In [18]:
#In order to delete a character from a list we use the function del and indicates the position of the character.
del(S[2])
print(S)

['Prueba', 1, 3, 4, ['Prueba2', 1]]

In [19]:
#In order to create a list with diferent types of information.
a_list=[1,"hello", [1,2,3],True]
a_list

[1, 'hello', [1, 2, 3], True]

In [20]:
#Checks the character assigned to number 1 according to index.
a_list[1]

'hello'

In [ ]:
#Retrieves the elements stored according to index from 1 to 3.
a_list[1:4]

In [21]:
#The function concatenates two lists.
A=[1,"a"]
B=[2,1,"d"]
A+B

[1, 'a', 2, 1, 'd']