<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-aleislasb/blob/main/Actividad%20Semana%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.1-Your First Program

In [ ]:
#What is in the parentheses will be executed, this is called an argument. Every statement goes into a cell.
print("Hello Python 101")

Hello Python 101
Hello
World!

In [ ]:
print("Hello\nWorld!") #The expression /n makes a space.

Hello
World!

In [ ]:
# print('Hello World!') does not execute nothing.

# 1.2-Types

In [ ]:
type("Hello World")
#The function type, finds out which type of information do we have in parentheses, in this case,text.

str

In [ ]:
type("1.1")
#The function evaluates that eventhough we have a number the symbols "" makes that information to text.

str

In [ ]:
bool(int(1))
#Conversion from integer to a boolean value.

True

In [ ]:
type(bool(int(1)))
#In this statement we ask which type of information do we have after converting it to a boolean value.

bool

# 1.3-Expressions and Varibles

In [ ]:
#A expression describe the type of operation we like to perform. 
43+60+16+41 
#On this operation the number is called operands and the math symbols are called operators.

160

In [ ]:
#// is an operator that results into a integer.
25//4

6

In [ ]:
#When updating a variable you can give a value with the sign equal.
Prueba_Phyton=15
#The symbol _ represents the start of a new world in a variable.

In [ ]:
#When updating a variable value, it is just necessary to give the new value, the other value is not important anymore.
Prueba_Phyton:10

#1.4-String Operations

In [ ]:
#The variable Letters has the value "ABCDEFGHIJK", this is a string and it is represented by the symbols "" or ''. Here we are using normal characters. 
Letters="ABCDEFGHIJK"
Letters[0:4]

11

In [ ]:
#If we want to check the length of the text, we write the function len.
Letters_2="ABCDEFGHIJK"
len(Letters_2)

11

In [ ]:
Good="GsoAo+d"
Good[::2]
#We can slice strings, from the original text we extract every even position that we have,according to index.

'Good'

In [ ]:
#We can use some functions in order to change the text, such has upper or replace, just to mention a few.
Prob="uppercase"
Prob.upper()

'UPPERCASE'

In [ ]:
#We can also make spaces or tabs between the text or even represent a backslash if we want.
print("Michael Jackson \\ is the best")
print("Michael Jackson \n is the best")
print("Michael Jackson \t is the best")

Michael Jackson \ is the best
Michael Jackson
 is the best
Michael Jackson 	 is the best

In [ ]:
#We can consult where can I find a couple of characters on a text, as a result we sill have the first value of index of this consult.
Good.find("so")

1

#Review Questions

In [6]:
#Mathematical Operations made by order.
3+2*2

7

In [7]:
#Slice from the first character to the assigned to number two.
name="Lizz"
print(name[0:2])

Li

In [8]:
#Slice every second character incluiding the character assigned to 0.
var="01234567"
print(var[::2])

0246

In [9]:
#Merges two strings. 
"1"+"2"

'12'

In [10]:
#Converts every character into uppercase.
myvar="hello"
myvar.upper()

'HELLO'

#2.1-Lists and Tuples

In [ ]:
#With this function we can consult the last character of the tuple, since -1 index value is given to the last character of every tuple.
A=(0,1,2,3)
print(A[-1])
#Or also consulting its positive index value.
print(A[3])

3
3

In [ ]:
#With this function we are consulting all the values that goes after the first character of the list.
B=["a","b","c"]
print(B[1:])

['b', 'c']

In [ ]:
#We can add more values to tuples and lists, this adds more characters to the list.
Tuple1=("disco", 10,1.2)
Tuple2=Tuple1+("hard rock",10)
print(Tuple2)

('disco', 10, 1.2, 'hard rock', 10)

In [ ]:
#Consults the characters from a tuple that are conformed by other tuples, just specifying which tuple I want to consult and which character of the values.
NT=(1,2,("pop", "rock"), (3,4), ("disco", (1,2)))
print(NT[2][1][2])

c

In [ ]:
#The difference between extend and append is that extend make the number of character larger and append just make one addition.
L=["Michael Jackson",10.1,1982]
L.extend(["pop", 10])
print(L)

S=["Prueba",1,2,3,4]
S.append(["Prueba2",1])
print(S)

['Michael Jackson', 10.1, 1982, 'pop', 10]
['Prueba', 1, 2, 3, 4, ['Prueba2', 1]]

In [ ]:
#In order to delete a character from a list we use the function del and indicates the position of the character.
del(S[2])
print(S)

['Prueba', 1, 3, 4, ['Prueba2', 1]]

In [ ]:
#In order to create a list with diferent types of information.
a_list=[1,"hello", [1,2,3],True]
a_list

[1, 'hello', [1, 2, 3], True]

In [ ]:
#Checks the character assigned to number 1 according to index.
a_list[1]

'hello'

In [ ]:
#Retrieves the elements stored according to index from 1 to 3.
a_list[1:4]

In [ ]:
#The function concatenates two lists.
A=[1,"a"]
B=[2,1,"d"]
A+B

[1, 'a', 2, 1, 'd']

In [14]:
#Find the lenght of the tuple.
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple
print(len(genres_tuple))
#To find the character according to index 3.
genres_tuple[3]

8

'hard rock'

In [16]:
#To find character from 3 to 5. 
genres_tuple[3:6]

('hard rock', 'soft rock')

In [18]:
#To find the first two elements.
genres_tuple[0:2]

7

In [19]:
#To find the index of "disco".
genres_tuple.index("disco")

7

In [20]:
#To obtain a sorted list from a tuple.
c_tuple=(-5,1,-3)
c_list=sorted(c_tuple)
c_list

[-5, -3, 1]

#2.2-Sets

In [47]:
#The function union shows the total of data between S and U. Since sets have unique elements the values that are repeated are shown as one.
S={'A','B','C'}

U={'A','Z','C'}
U.union(S)

{'A', 'B', 'C', 'Z'}

In [48]:
#The function intersection shows the interception between S and U. The functions are better shown as venn diagrams.
U.intersection(S)

{'A', 'C'}

In [51]:
#We can also add new values to the actual set.
U.add("D")
print(U)

{'C', 'Z', 'D', 'A'}

In [52]:
#And also remove a value. 
U.remove("A")
print(U)

{'C', 'Z', 'D'}

In [53]:
#With the function "in" we can know if a value is on a set. Result on a boolean value. 
"A" in U

False

In [26]:
#The function set converts a list into a set, avoiding repeated values.
album_list=["Michael Jackson", "Thriller", "Thriller",1982]
album_set=set(album_list)
print(album_set)

{'Michael Jackson', 'Thriller', 1982}

In [57]:
#The sum of A does not equal B, since the list is a set now, and repeated values does not sum.
A = [1, 2, 2, 1]  
B = set([1, 2, 2, 1])
print(sum(A))
print(sum(B))

6
3

In [58]:
#With this function we can evaluate is a group has exact the same values as in order group even if there is just a few of them.
B.issuperset(A)

True