<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-aleislasb/blob/main/Semana%202-Actividad%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#4.1 Reading Files with Open

In [ ]:
#The open function gets a file object. We need to write two parameters, the file and the mode, the file path divides into two sections: the file directory and at the end the file name. 
#Some values for mode are reading, appending and writing.
File1=open("/resources/data/Example2.txt","w")
print(File1.name)

#To view name or mode to reading function use. 
File1.name 
File1.mode 
#All open statements should have at the end a close function
File1.close()

In [ ]:
#Using a with statement does not need a close function since it runs everything that its in the block and then closes.
with open ("Example1.txt", "r") as File1: 
  file_stuff=File1.read()
  print(file_stuff)

print(File1.closed)
print(file_stuff)

#The method read lines reads everything that its on the file. When we used it twice reads each line individually.
file_stuff=File1.readlines()

#When we add a number between parentheses we are specifying which characters do we like to read.
file_stuff=File1.readlines(5)
print(file_stuff)

#4.2 Writing Files with Open

In [ ]:
#We can use .write to add text to object file. In this example this creates a file called Example2.txt and writes This is line A into the file.
with open("/resources/data/Example2.txt","w") as File1:
  File1.write("This is line A")

#For each iteration of the function .write each value is added to the file.
with open("/resources/data/Example2.txt","w") as File1:
  File1.write("This is line A")
  File1.write("This is line B")

In [ ]:
#The mode append uses an existing file and adds more information to that file.
with open("/resources/data/Example2.txt","a") as File1:
  File1.write("This is line A")

In [ ]:
#In order to copy one file to another we can open two files. On which we are specifying which do we like to copy from as it is in the example as readfile and to which do we like to copy, expressed as writefile.
with open("Example1.txt","r") as readfile:
  with open("Example3.txt","w") as writefile:
    for line in readfile:
      writefile.write(line)
#This function iterates until there is no more lines to copy and close the object.

4.2 Exercise

In [ ]:
#Run this prior to starting the exercise
from random import randint as rnd

memReg = 'members.txt'
exReg = 'inactive.txt'
fee =('yes','no')

def genFiles(current,old):
    with open(current,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"

        for rowno in range(20):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)]))


    with open(old,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"
        for rowno in range(3):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[1]))

In [ ]:
#First open the file for reading mode and on the other one which we are going to add the information.
def cleanFiles(currentMem,exMem):
  with open(currentMem, "r+") as writeFile: 
    with open(exMem,"a+") as appendFile:
      writeFile.seek(0)
      members= writeFile.readlines()
      header=members[0]
      members.pop(0)
#Reads each member in the currentMem.
      inactive = [member for member in members if ("no" in member)]
      writeFile.seek(0)
      writeFile.write(header)
      for member in members:
          if(member in inactive):
            appendFile.write(member)
          else:
            writeFile.write(member)
      writeFile.truncate()
#And then iterates through the members ans created the new file.
  memReg="members.txt"
  exReg="inactive.txt"
  cleanFiles(memReg,exReg)

#4.3 Loading Data with Pandas.

In [ ]:
#Pandas is a library for data analysis, it has pre-built classes and functions. We need to call pandas everytime we would like to use it, 
#Since it is kind of tedious, we can call panda as we like in order to make it familiar.
import pandas as pand
csv_path="file1.csv"

In [15]:
#The function data frame results on a table with columns and rows, the keys are for column labels and the values to the rows. 
import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23

In [30]:
#If we want to go deeper to the dataframe we can acces to it specifying row and column as follows. 
df.ix[0,2]
#Also, we can slide a dataframe specifying colums and rows that we like to include
df.ix[0:2,"a"]

AttributeError: ignored

In [31]:
#We can make new data frames from other larger dataframes we can specify the column on which we like to consult the results.
df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df2=df[["a"]]
print(df2)

    a
0  11
1  21
2  31

In [ ]:
#This results finds the element in the second row and first column.
df.ix[1,0] or df.iloc[1,0]

In [32]:
#The following function access to the first defaults rows of a dataset. 
import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23

#4.4 Working with and Saving Data with Pandas

In [ ]:
#Pandas allows us to access to the unique elements that conforms a huge list of values. 
#First we need to call the name of the dataframe, then the column we want to consult and at the end the function unique.
df['a'].unique

#If we want to manipulate and consult values from a dataframe, we can follow the next formula. The result are boolean values.
#Here we are consulting and also making a new data frame. 
df1=df[df['a']>=11]

#At the end of our consult we can just save it to CCV. 
df1.to_csv('new_songes.csv')

In [34]:
#The following formula returns a boolean value, since it is making a comparison between the dataframe value and the final statement.
import pandas as pd
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})
df['a']==1

0     True
1    False
2     True
Name: a, dtype: bool

In [36]:
#The following formula returns just that values that accomplish the comparison where the values are less than 2.
import pandas as pd

df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})
df1=df[df['a']<2]
print(df1)

   a  b
0  1  1
2  1  1

In [ ]:
#This formula indicates that q is the new storage of the column "Rating"
q = df[['Rating']]
q

#And if we want to acces to specified columns, for example, the column "Released" and "Artist".
q=df[['Released', 'Artist']]
q

#To acces to specified columns and rows we need to specified the index. For example, this access the second row and the third column. 
df.iloc[1, 2]

new_index=['a','b','c','d','e','f','g','h']
df_new=df #we create a new variable.
df_new.index=new_index #And then we link the new variable to the actual tuple. 
df_new.loc['a', 'Artist'] #We can access to the row A and the column Artist.
df_new.loc['a':'d', 'Artist'] #And here we can access from a to d rows for the specified column Artist.