<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-aleislasb/blob/main/Semana%203%20IBM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#5.1-Numpy 1D Arrays

In [ ]:
#Numpy is a library for scientific computing and it is the base of pandas, a numpy array is similar to a list.
import pandas as np
a=np.array([1,-7,5,-9])

In [ ]:
#We can also consult which data do we have on which position like in the first videos.
a[0]

1

In [ ]:
#We can also the consult the type of information we are typing. 
type(a)

pandas.core.arrays.integer.IntegerArray

In [ ]:
#In order to consult the size of the numpy we can use the function .size.
a.size

2

In [ ]:
#As in some features we can add more elements to our list or tuple. Or slice the same tuple, for example the first two elements of the list. 
b=a[0:2]
b

<IntegerArray>
[1, -7]
Length: 2, dtype: Int64

In [ ]:
#We can also perform basic operations, in this case addition or multiply vectors. 
#The addition is made: Nominators with nominators and denominators with denominators.
#If we perform the numpy library is faster than other methodology.
import numpy as np

u=np.array([1,1])
v=np.array([0,1])

z=u+v
z

array([1, 2])

In [ ]:
#There are some basic functions that also numpy can perform, such as mean or max.
import numpy as np 
a=np.array([1,-1,1,-1])
mean_a=a.mean()
mean_a

1

In [ ]:
max_a=a.max()
max_a

1

In [ ]:
#With this formula we are adding the values corresponding to the positions that every list have on the different arrays.
import numpy as np
arr1 = np.array([10, 11, 12, 13, 14, 15])
arr2 = np.array([20, 21, 22, 23, 24, 25])
arr3=np.add(arr1,arr2)
arr3

array([30, 32, 34, 36, 38, 40])

In [ ]:
#With this formula we are doing a substraction from the first array to the second according to their position.
import numpy as np
arr1 = np.array([10, 20, 30, 40, 50, 60])
arr2 = np.array([20, 21, 22, 23, 24, 25])
arr3=np.subtract(arr1,arr2)
arr3

array([-10,  -1,   8,  17,  26,  35])

In [ ]:
#Here as the last iterations, we are multiplying each value according to their position.
import numpy as np
arr1 = np.array([10, 20, 30, 40, 50, 60])
arr2 = np.array([2, 1, 2, 3, 4, 5])
arr3=np.multiply(arr1,arr2)
arr3

array([ 20,  20,  60, 120, 200, 300])

In [ ]:
#We can multiply a vector with an integer, the integer multiplies every value on the tuple.
z = np.array([2, 4])
-2*z

array([-4, -8])

#5.2-Numpy 2D Arrays

In [ ]:
#Numpy can also create 2D arrays, like matrixes on math. On which every subgroup is a new row on the array. 
a=[[11,12,13],[21,22,23],[31,32,33]]
A=np.array(a)
A

array([[11, 12, 13],
       [21, 22, 23],
       [31, 32, 33]])

In [ ]:
#In this case we can ask for the number of lists, in this case the first one is the one that shows first dimension and the second one the shape of the same list.
A.ndim

2

In [ ]:
#The formula .shape represents the number of the nested list that we have in all our variable, this can be on a horizontal list or in a rectangular form. 
A.shape

(3, 3)

In [ ]:
#When we are using matrix we can also consult just one element of the matrix, we just need to specify row and column.
import numpy as np
a=[[11,12,13],[21,22,23],[31,32,33]]
A=np.array(a)

A[1][2]

23

In [ ]:
#Just as Numpy 1D arrays we can also perform additions, multiplication or substraction from one array to another. The method goes the same, every value follows the position from the other array.
import numpy as np 
X=np.array([[1,0],[0,1]])
y=np.array([[12,0],[30,1]])

Z=X+y
Z

array([[13,  0],
       [30,  2]])

In [ ]:
#For multiplication of matrixes as the math formula says we need to have two matrixes, on which the value of rows on the first one is the value of columns of the second one, since the multiplication goes along horizontally on one matrix and vertically on the other one.
import numpy as np 
A=np.array([[0,1,1],[1,0,1]])
B=np.array([[0,3],[9,2],[1,0]])
C=np.dot(A,B)
C

array([[10,  2],
       [ 1,  3]])

#5.3-Simple APIs-Part 1

In [1]:
#An API is the intermediate between the program and the software component. API is every "instance" as it is called that returns values from an input that we are given.
#NBA is another way to request data in a really simplier way since NBA gives the information a specific number to acces through data, everything is exported like a dataframe to make the consult and then, the information is given.
#NBA is easier since it also uses HTTP as a way to consult data but automatically.
#The HTTP protocol can consult webpages, images. 
#Using URL (Uniform Resource Locator) will start with http, then the URL we like to consult and at the end the route location of the file we like to consult.
http://www.ibm.com/images/IDSNlogo.png

SyntaxError: ignored

In [ ]:
#The HTTP have four different methods. 
  #Get.Retrieves Data.
    #Post.Submits. 
      #Put.Updates Data.
        #Delete. Deletes data.

In [6]:
#The status code depends on the type of response we are having. 
  #1. Informational.
  #2.Sucess.
  #3.Redirection.
  #4.Client Error.
import requests
url='https://www.ibm.com/'
r=requests.get(url)
r.status_code

200

In [12]:
#We can consult an image just importing the correct library, as an output we have an image content.
import os
path=os.path.join(os.getcwd(),'image.png')
path

'/content/image.png'

In [19]:
#If we want to consult specific values from a url we need to make a specific query string, for this we need to use the library request, specify the key and values and then importing the url.
import requests
url_get='http://httpbin.org/get'
payload={"name":"Joseph","ID":"123"}
r=requests.get(url_get,params=payload)
r.url

'http://httpbin.org/get?name=Joseph&ID=123'

#5.4-Simple APIs-Part 2

In [ ]:
#Watson Text is a way to translate information, basically extracts the first input and under the formula asks for the translation of that information, makes a third call and then translated the text.

In [31]:
#Randomuser is a library that has predicted methods, on our consults we just need to specify the information we like to have, looking for the methods that are already defined.
#For example, in this table we create a dataframe on which we like to have 10 randomusers, specifying gender, city and other characteristics, the result is a table with the different type of information we want.
from randomuser import RandomUser
import pandas as pd
def get_users():
    users =[]
     
    for user in RandomUser.generate_users(10):
        users.append({"Name":user.get_full_name(),"Gender":user.get_gender(),"City":user.get_city(),"State":user.get_state(),"Email":user.get_email(), "DOB":user.get_dob(),"Picture":user.get_picture()})
      
    return pd.DataFrame(users)  
get_users()

,Name,Gender,City,State,Email,DOB,Picture
0,Nathan Jean-Baptiste,male,Winfield,Northwest Territories,nathan.jean-baptiste@example.com,1995-10-04T17:43:02.980Z,https://randomuser.me/api/portraits/men/17.jpg
1,Moreno Rolland,male,Bassersdorf,Glarus,moreno.rolland@example.com,1992-11-18T22:00:24.620Z,https://randomuser.me/api/portraits/men/96.jpg
2,Akseli Maijala,male,Haapajärvi,Kainuu,akseli.maijala@example.com,1961-04-17T10:15:42.474Z,https://randomuser.me/api/portraits/men/34.jpg
3,Ece Adan,female,Aydın,Malatya,ece.adan@example.com,1955-10-20T12:56:39.584Z,https://randomuser.me/api/portraits/women/7.jpg
4,Jeppe Christensen,male,Nørrebro,Danmark,jeppe.christensen@example.com,1956-06-23T02:48:58.971Z,https://randomuser.me/api/portraits/men/34.jpg
5,Oscar Hall,male,Brighton and Hove,Merseyside,oscar.hall@example.com,1975-04-30T20:00:12.702Z,https://randomuser.me/api/portraits/men/33.jpg
6,Mohamed Sanz,male,Toledo,Galicia,mohamed.sanz@example.com,1949-05-21T19:39:23.872Z,https://randomuser.me/api/portraits/men/94.jpg
7,Emmi Laitinen,female,Ikaalinen,Finland Proper,emmi.laitinen@example.com,1954-01-05T02:15:09.857Z,https://randomuser.me/api/portraits/women/18.jpg
8,Selcuk Feringa,male,Ruinerwold,Utrecht,selcuk.feringa@example.com,1972-08-26T10:08:00.314Z,https://randomuser.me/api/portraits/men/87.jpg
9,Anselm Reinsch,male,Uecker-Randow,Saarland,anselm.reinsch@example.com,1958-11-30T14:30:25.733Z,https://randomuser.me/api/portraits/men/79.jpg

In [34]:
#With this formula, we want to import the data that are on the web and convert that to a dataframe. On web we have that information as a text and then convert that to a dataframe.
import requests
import json
data = requests.get("https://www.fruityvice.com/api/fruit/all")
results = json.loads(data.text)
pd.DataFrame(results)

,genus,name,id,family,order,nutritions
0,Malus,Apple,6,Rosaceae,Rosales,"{'carbohydrates': 11.4, 'protein': 0.3, 'fat':..."
1,Prunus,Apricot,35,Rosaceae,Rosales,"{'carbohydrates': 3.9, 'protein': 0.5, 'fat': ..."
2,Musa,Banana,1,Musaceae,Zingiberales,"{'carbohydrates': 22, 'protein': 1, 'fat': 0.2..."
3,Rubus,Blackberry,64,Rosaceae,Rosales,"{'carbohydrates': 9, 'protein': 1.3, 'fat': 0...."
4,Fragaria,Blueberry,33,Rosaceae,Rosales,"{'carbohydrates': 5.5, 'protein': 0, 'fat': 0...."
5,Prunus,Cherry,9,Rosaceae,None,"{'carbohydrates': 12, 'protein': 1, 'fat': 0.3..."
6,Durio,Durian,60,Malvaceae,Malvales,"{'carbohydrates': 27.1, 'protein': 1.5, 'fat':..."
7,Ficus,Fig,68,Moraceae,Rosales,"{'carbohydrates': 19, 'protein': 0.8, 'fat': 0..."
8,Ribes,Gooseberry,69,Grossulariaceae,Saxifragales,"{'carbohydrates': 10, 'protein': 0.9, 'fat': 0..."
9,Vitis,Grapes,47,Vitaceae,Vitales,"{'carbohydrates': 18.1, 'protein': 0.72, 'fat'..."
10,Malus,GreenApple,72,Rosaceae,Rosales,"{'carbohydrates': 3.1, 'protein': 0.4, 'fat': ..."
11,Psidium,Guava,37,Myrtaceae,Myrtales,"{'carbohydrates': 14, 'protein': 2.6, 'fat': 1..."
12,Apteryx,Kiwi,66,Actinidiaceae,Struthioniformes,"{'carbohydrates': 15, 'protein': 1.1, 'fat': 0..."
13,Citrus,Lemon,26,Rutaceae,Sapindales,"{'carbohydrates': 9, 'protein': 1.1, 'fat': 0...."
14,Citrus,Lime,44,Rutaceae,Sapindales,"{'carbohydrates': 8.4, 'protein': 0.3, 'fat': ..."
15,Vaccinium,Lingonberry,65,Ericaceae,Ericales,"{'carbohydrates': 11.3, 'protein': 0.75, 'fat'..."
16,Litchi,Lychee,67,Sapindaceae,Sapindales,"{'carbohydrates': 17, 'protein': 0.8, 'fat': 0..."
17,Mangifera,Mango,27,Anacardiaceae,Sapindales,"{'carbohydrates': 15, 'protein': 0.82, 'fat': ..."
18,Cucumis,Melon,41,Cucurbitaceae,Cucurbitaceae,"{'carbohydrates': 8, 'protein': 0, 'fat': 0, '..."
19,Citrus,Orange,2,Rutaceae,Sapindales,"{'carbohydrates': 8.3, 'protein': 1, 'fat': 0...."
20,Carica,Papaya,42,Caricaceae,Caricacea,"{'carbohydrates': 11, 'protein': 0, 'fat': 0.4..."
21,Passiflora,Passionfruit,70,Passifloraceae,Malpighiales,"{'carbohydrates': 22.4, 'protein': 2.2, 'fat':..."
22,Pyrus,Pear,4,Rosaceae,Rosales,"{'carbohydrates': 15, 'protein': 0.4, 'fat': 0..."
23,Diospyros,Persimmon,52,Ebenaceae,Rosales,"{'carbohydrates': 18, 'protein': 0, 'fat': 0, ..."
24,Ananas,Pineapple,10,Bromeliaceae,Poales,"{'carbohydrates': 13.12, 'protein': 0.54, 'fat..."
25,Prunus,Plum,71,Rosaceae,Rosales,"{'carbohydrates': 11.4, 'protein': 0.7, 'fat':..."
26,Rubus,Raspberry,23,Rosaceae,Rosales,"{'carbohydrates': 12, 'protein': 1.2, 'fat': 0..."
27,Fragaria,Strawberry,3,Rosaceae,Rosales,"{'carbohydrates': 5.5, 'protein': 0.8, 'fat': ..."
28,Solanum,Tomato,5,Solanaceae,Solanales,"{'carbohydrates': 3.9, 'protein': 0.9, 'fat': ..."
29,Spondias,Umbu,73,Anacardiaceae,0,"{'carbohydrates': 0, 'protein': 0, 'fat': 0, '..."
30,Citrullus,Watermelon,25,Cucurbitaceae,Cucurbitales,"{'carbohydrates': 8, 'protein': 0.6, 'fat': 0...."

In [35]:
#With the formula normalize, we are exporting the data to an easier way, for example, we are creating a column from repetitive values and the distictive values just appears as a value of that column corresponding to each row.
df2 = pd.json_normalize(results)
df2

,genus,name,id,family,order,nutritions.carbohydrates,nutritions.protein,nutritions.fat,nutritions.calories,nutritions.sugar
0,Malus,Apple,6,Rosaceae,Rosales,11.40,0.30,0.40,52,10.30
1,Prunus,Apricot,35,Rosaceae,Rosales,3.90,0.50,0.10,15,3.20
2,Musa,Banana,1,Musaceae,Zingiberales,22.00,1.00,0.20,96,17.20
3,Rubus,Blackberry,64,Rosaceae,Rosales,9.00,1.30,0.40,40,4.50
4,Fragaria,Blueberry,33,Rosaceae,Rosales,5.50,0.00,0.40,29,5.40
5,Prunus,Cherry,9,Rosaceae,None,12.00,1.00,0.30,50,8.00
6,Durio,Durian,60,Malvaceae,Malvales,27.10,1.50,5.30,147,6.75
7,Ficus,Fig,68,Moraceae,Rosales,19.00,0.80,0.30,74,16.00
8,Ribes,Gooseberry,69,Grossulariaceae,Saxifragales,10.00,0.90,0.60,44,0.00
9,Vitis,Grapes,47,Vitaceae,Vitales,18.10,0.72,0.16,69,15.48
10,Malus,GreenApple,72,Rosaceae,Rosales,3.10,0.40,0.10,21,6.40
11,Psidium,Guava,37,Myrtaceae,Myrtales,14.00,2.60,1.00,68,9.00
12,Apteryx,Kiwi,66,Actinidiaceae,Struthioniformes,15.00,1.10,0.50,61,9.00
13,Citrus,Lemon,26,Rutaceae,Sapindales,9.00,1.10,0.30,29,2.50
14,Citrus,Lime,44,Rutaceae,Sapindales,8.40,0.30,0.10,25,1.70
15,Vaccinium,Lingonberry,65,Ericaceae,Ericales,11.30,0.75,0.34,50,5.74
16,Litchi,Lychee,67,Sapindaceae,Sapindales,17.00,0.80,0.44,66,15.00
17,Mangifera,Mango,27,Anacardiaceae,Sapindales,15.00,0.82,0.38,60,13.70
18,Cucumis,Melon,41,Cucurbitaceae,Cucurbitaceae,8.00,0.00,0.00,34,8.00
19,Citrus,Orange,2,Rutaceae,Sapindales,8.30,1.00,0.20,43,8.20
20,Carica,Papaya,42,Caricaceae,Caricacea,11.00,0.00,0.40,43,1.00
21,Passiflora,Passionfruit,70,Passifloraceae,Malpighiales,22.40,2.20,0.70,97,11.20
22,Pyrus,Pear,4,Rosaceae,Rosales,15.00,0.40,0.10,57,10.00
23,Diospyros,Persimmon,52,Ebenaceae,Rosales,18.00,0.00,0.00,81,18.00
24,Ananas,Pineapple,10,Bromeliaceae,Poales,13.12,0.54,0.12,50,9.85
25,Prunus,Plum,71,Rosaceae,Rosales,11.40,0.70,0.28,46,9.92
26,Rubus,Raspberry,23,Rosaceae,Rosales,12.00,1.20,0.70,53,4.40
27,Fragaria,Strawberry,3,Rosaceae,Rosales,5.50,0.80,0.40,29,5.40
28,Solanum,Tomato,5,Solanaceae,Solanales,3.90,0.90,0.20,74,2.60
29,Spondias,Umbu,73,Anacardiaceae,0,0.00,0.00,0.00,0,0.00
30,Citrullus,Watermelon,25,Cucurbitaceae,Cucurbitales,8.00,0.60,0.20,30,6.00

In [36]:
#For example, if we want to find a specific value from the dataframe, in this example:Cherry, we just specify which atributes we like to know, in this case, family and genus. 
cherry = df2.loc[df2["name"] == 'Cherry']
(cherry.iloc[0]['family']) , (cherry.iloc[0]['genus'])

('Rosaceae', 'Prunus')

In [37]:
#For another example, in this case to know the calores froma the fruit banana, we specify the main value "banana" and then specify the column that the fruit banana has.
cal_banana = df2.loc[df2["name"] == 'Banana']
cal_banana.iloc[0]['nutritions.calories']

96

In [ ]:
#In order to perform a multiplication to two list we can iterate according to their position.
import numpy as np
a=np.array([0,1,0,1,0])

b=np.array([1,0,1,0,1])

a*b

array([0, 0, 0, 0, 0])

In [ ]:
#For a dot array first we need to multiply and then add these two results, showing a value of 0 since two values equal to 0. 
a=np.array([0,1])

b=np.array([1,0])

np.dot(a,b)

0

In [39]:
#For this example, we are extracting the information that the web page has, then load it as a json format in order to conver that to a dataframe, exporting the information we have a raw data, we just need to normalize it in order to have the specific data we want.
data2 = requests.get("https://www.fishwatch.gov/api/species")
results2 = json.loads(data2.text)
df3 = pd.DataFrame(results2)
df3

,Fishery Management,Habitat,Habitat Impacts,Image Gallery,Location,Management,NOAA Fisheries Region,Population,Population Status,Scientific Name,...,Selenium,Serving Weight,Servings,Sodium,Source,"Sugars, Total",Taste,Texture,Path,last_update
0,"<ul>\n<li><a href=""https://www.fisheries.noaa....",None,"Bottomfish fishing operations, typically using...",[{'src': 'https://origin-east-01-drupal-fishwa...,<ul>\n<li>Crimson jobfish are distributed thro...,None,Pacific Islands,"The population level is unknown, but the stock...",<ul>\n<li>There are five stocks of crimson job...,Pristipomoides filamentosus,...,38.2 mcg,100 g (raw),1,64 mg,<p>U.S -wild caught around Hawaii and Pacific ...,0 g,<p>Crimson jobfish has a delicate flavor.</p>\n,<p>Crimson jobfish has&nbsp;a firm texture and...,/profiles/crimson-jobfish,06/21/2022 - 12:00
1,"<ul>\n<li><a href=""https://www.fisheries.noaa....","<ul>\n<li>White hake are groundfish, meaning t...",Area closures and gear restrictions protect ha...,[{'src': 'https://origin-east-01-drupal-fishwa...,<ul>\n<li>White hake are found in the northwes...,None,Greater Atlantic,Significantly below target population level. A...,<ul>\n<li>According to the 2019 stock assessme...,Urophycis tenuis,...,32.1 mcg,100 g (raw),1,72 mg,<p>White hake is wild-caught from Maine to sou...,0 g,"<p>White hake has a mild, almost sweet&nbsp;ta...","<p>White hake has a soft, delicate texture tha...",/profiles/white-hake,03/24/2022 - 10:36
2,"<ul>\n<li>\n<p><a href=""https://archive.fisher...",<ul>\n<li>Atlantic chub mackerel are a schooli...,Area closures and gear restrictions protect ha...,[{'src': 'https://origin-east-01-drupal-fishwa...,<ul>\n<li>Atlantic chub mackerel in the wester...,None,Greater Atlantic,The stock has never been assessed. The popula...,<p>Atlantic chub mackerel has never been asses...,Scomber colias,...,44.1 mcg,100 g (raw),1,90 mg,<p>U.S. wild caught from Southern New England ...,0 g,"<p>Rich, pronounced flavor.</p>\n","<p>Soft, flaky, and moist.</p>\n",/profiles/atlantic-chub-mackerel,08/11/2022 - 16:16
3,"<ul>\n<li><a href=""https://www.fisheries.noaa....",<ul>\n<li>Shortfin squid live in deep and shal...,Fishing gears used to harvest shortfin squid h...,None,<ul>\n<li>Shortfin squid inhabits the continen...,None,Greater Atlantic,The population level is unknown. The species h...,<ul>\n<li>According to the latest assessment (...,Illex illecebrosus,...,44.8 mcg,100 g,1,44 mg,<p>U.S. wild-caught from Maine to North Caroli...,0 g,"<p>Mild, and subtly sweet.</p>\n<p>&nbsp;</p>\n",<p>Firm and meaty.</p>\n,/profiles/shortfin-squid,09/02/2022 - 11:08
4,"<ul>\n<li>The states and <a href=""https://www....",<ul>\n<li>American lobsters live on the ocean ...,Fishing gears used to harvest American lobster...,[{'src': 'https://origin-east-01-drupal-fishwa...,<ul>\n<li>American lobsters are found in the n...,None,Greater Atlantic,Above target population levels in the Gulf of ...,"<ul>\n<li>According to the 2020&nbsp;<a href=""...",Homarus americanus,...,41.4 mcg,100 g (raw),1,296 mg,<p>U.S. wild-caught from Maine to North Caroli...,0 g,<p>Mild and sweet.</p>\n,<p>The meat is firm and somewhat fibrous. The ...,/profiles/american-lobster,01/07/2022 - 10:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,"<ul>\n<li><a href=""https://www.fisheries.noaa....",<ul>\n<li>Younger pollock live in the mid-wate...,The Alaska pollock fishery uses midwater trawl...,[{'src': 'https://origin-east-01-drupal-fishwa...,<ul>\n<li>Alaska pollock are found throughout ...,None,Alaska,Above target population levels for the Aleutia...,<ul>\n<li>There are five stocks of walleye pol...,Gadus chalcogrammus,...,21.9 mcg,100 g (raw),1,99 mg,"<p>U.S. wild-caught, mainly in the Bering Sea ...",0 g,<p>Pollock has mild-tasting flesh and is simil...,<p>Pollock has a relatively fine texture and i...,/profiles/alaska-pollock,08/24/2021 - 17:44
112,"<ul>\n<li><a href=""https://www.greateratlantic...","<ul>\n<li>Monkfish live on the ocean floor, ty...",Area closures and gear restrictions protect ha...,[{'src': 'https://origin-east-01-drupal-fishwa...,<ul>\n<li>Monkfish are found in the Northwest ...,None,"Greater Atlantic, Southeast",Above target population levels.,<ul>\n<li>There are two stocks of monkfish: Gu...,Lophius americanus,...,36.5 mcg,100 g (raw),1,18 mg,<p>U.S. wild-caught from Maine to North Caroli...,0 g,<p>Mild.</p>\n,"<p>The tail meat is firm, dense, and relativel...",/profiles/monkfish,08/10/2022 - 17:32
113,"<ul>\n<li><a href=""http://sero.nmfs.noaa.gov/""...",<ul>\n<li>Mahi mahi live near the surface in t...,Fishing gear used to catch mahi mahi rarely co...,[{'src': 'https://origin-east-01-drupal-fishwa...,"<ul>\n<li>Mahi mahi are found in the Atlantic,...",None,"Greater Atlantic, Southeast",Above target population levels.,<ul>\n<li>Scientists assume populations are ab...,Coryphaena hippurus,...,36.5 mcg,100 g (raw),1,88 mg,<p>Wild-caught from Massachusetts to Texas.</p>\n,0 g,"<p>Mahi mahi has a sweet, mild flavor. For a m...",<p>Mahi mahi is lean and fairly firm with larg...,/profiles/atlantic-mahi-mahi,08/03/2022 - 16:19
114,"<ul>\n<li><a href=""https://sero.nmfs.noaa.gov/...",<ul>\n<li>Cobia are found near structures in t...,Fishing gear used to catch cobia rarely contac...,[{'src': 'https://origin-east-01-drupal-fishwa...,"<ul>\n<li>In U.S. waters, cobia are most abund...",None,"Greater Atlantic, Southeast",Below target level but fishing rate promotes p...,<ul>\n<li>\n<p>According to the 2020 stock ass...,Rachycentron canadum,...,36.5 mcg,100 g (raw),1,135 mg,<p>Wild-caught from Virginia to Texas. Cobia i...,0 g,"<p>Cobia has a sweet, rich flavor.</p>\n","<p>Cobia is lean, moist, and firm with a nice ...",/profiles/cobia,02/17/2022 - 11:28
115,<ul>\n<li>There are two stocks of Atlantic cod...,<ul>\n<li>Atlantic cod live near the ocean flo...,Area closures and gear restrictions protect ha...,[{'src': 'https://origin-east-01-drupal-fishwa...,"<ul>\n<li>In the Northwest Atlantic, cod range...",None,Greater Atlantic,Significantly below target population levels. ...,<ul>\n<li>Gulf of Maine stock:\n<ul>\n<li>Acco...,Gadus morhua,...,33.1 mcg,100 g,1,54 mg,<p>Wild-caught from Maine to Virginia.</p>\n,0 g,<p>Atlantic cod has a mild clean flavor. It is...,<p>Cod has large flakes. It's less firm than h...,/profiles/atlantic-cod,02/17/2022 - 12:56

![Certificado.PNG]()

In [ ]:
#This says that for every value applied to the list we need to add 100 to each value, resulting every value on the list as 11.
a=np.array([1,1,1,1,1])

a+10

array([11, 11, 11, 11, 11])